USE [master]
GO
/****** Object:  Database [HOSPITALLINQ]    Script Date: 04/08/2021 19:21:43 ******/
CREATE DATABASE [HOSPITALLINQ] ON  PRIMARY 
( NAME = N'HOSPITALLINQ', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSSAPH\MSSQL\DATA\HOSPITALLINQ.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HOSPITALLINQ_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESSSAPH\MSSQL\DATA\HOSPITALLINQ_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOSPITALLINQ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOSPITALLINQ]
GO
/****** Object:  Table [dbo].[Enfermo]    Script Date: 04/08/2021 19:21:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enfermo](
	[inscripcion] [int] NOT NULL,
	[Apellido] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Dir] [int] NULL,
	[Fecha_Nac] [date] NULL,
	[S] [varchar](2) NULL,
	[NSS] [int] NULL,
	[Cod_Hospital] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[inscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Enfermo] ([inscripcion], [Apellido], [Direccion], [Dir], [Fecha_Nac], [S], [NSS], [Cod_Hospital]) VALUES (10995, N'Laguía M.', N'Goya 20', NULL, CAST(N'1956-05-16' AS Date), N'M', 280862422, NULL)
INSERT [dbo].[Enfermo] ([inscripcion], [Apellido], [Direccion], [Dir], [Fecha_Nac], [S], [NSS], [Cod_Hospital]) VALUES (14024, N'Fernández M.', N'Recoletos 50', NULL, CAST(N'1960-05-21' AS Date), N'F', 284991452, NULL)
INSERT [dbo].[Enfermo] ([inscripcion], [Apellido], [Direccion], [Dir], [Fecha_Nac], [S], [NSS], [Cod_Hospital]) VALUES (18004, N'Serrano V.', N'Alcalá 12', NULL, CAST(N'1967-06-23' AS Date), N'F', 321790059, NULL)
GO
USE [master]
GO
